# Maven target directory
target/

# Maven build files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Java
*.class
*.log
*.jar
*.war
*.ear
*.iml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/


# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.cache

# Local environment configs
*.env
.env.local
